html, body, #root, #root>div {
  height: 100%;
  background-color: #f4a46003;
  /* background-color: #ebf2f229; */
  /* background-image: linear-gradient(#e3ebeb, #9fb1bd);; */
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#root>div {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}

@media (max-width: 480px) {
  #root>div {
    box-shadow: none;
  }
}
